{% extends 'rango/base.html' %}
{% load static %}
<!--it is a template from webiste and i changed it although i filed-->
{% block title_block %}
    Profile
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">


    <link rel="stylesheet" href="{% static 'css/style.css'%}">

{% endblock %}

{% block body_block%}
    <section class="row featured-post-carousel">
    <div class="item post">
       <img src="{{ MEDIA_URL }}1.png"  class="img-responsive main-bg"/>
        <div class="post-content">
            <div class="container">
                <h5 class="post-meta"><i>in</i><a href="#">{{ username }} Profile</a>|<a href="#">{{time}}</a></h5>
                <h2 class="wordColor">{{ username }}</h2>
            </div>
        </div>
    </div>
    </section>
    <section class="row content-wrap">
      <div class="container">
        <div class="row" id="post-masonry">
              <!--Author Widget-->
            <aside class="col-sm-4 widget-author widget-with-posts post ">
                <div class="widget-author-inner row">
                    <div class="row author-avatar "><a href="#"><img  src="{{ MEDIA_URL }}author.png" alt="photo" class="rounded-circle"></a></div>
                    <a href="#"><h2 class="author-name">{{ username }}</h2></a>
                    <h5 class="author-title">User sign</h5>
                    <p> Introduction</p>
                    <a class="know-more" href={{ website }}>know more</a>
                </div>
                <ul class="nav social-nav">
                    <li><a href="#"><p>twitter</p><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><p>facebook</p><i class="fa fa-facebook-official"></i></a></li>
                    <li><a href="#"><p>google</p><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><p>instagram</p><i class="fa fa-instagram"></i></a></li>
                </ul>
            </aside>
            <!--blog post-->
            {{ page_str }}
            <!--Blog Post-->
            <article class="col-sm-4 post post-masonry post-format-image">
                <div class="post-wrapper row">
                    <div class="featured-content row">
                        <a href="single.html"><img src="{{ MEDIA_URL }}“ alt=”Picture of a cat" class="img-responsive"></a>
                    </div>
                    <div class="post-excerpt row">
                        <h5 class="post-meta">
                            <a href="#" class="date">page time</a>
                            <span class="post-author"><i>by</i><a href="#">author name</a></span>
                        </h5>
                        <h3 class="post-title"><a href="single.html">page name</a></h3>
                        <p>page introduction</p>
                        <footer class="row">
                            <h5 class="taxonomy"><i>in</i> <a href="#">category</a></h5>
                            <div class="response-count"><img src="" alt="favor icon">5</div>
                        </footer>
                    </div>
                </div>
            </article>

        </div>
    </div>
</section>

    <script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'vendors/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'vendors/instafeed/instafeed.min.js' %}"></script>
    <script src="{% static 'vendors/imagesLoaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
{% endblock %}


</html>